<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header>
    <div>
        <a href="index.html">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="index.html" id="Home-link">Home</a></li>
            <li><a href="login.html" id="login-link">Login</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <form id="login-form">
            <h2>Login</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
<!-- Footer -->
<footer>
    <p>© 2024 HBnB Evolution. All rights reserved.</p>
</footer>
</html>